
<footer class="container-fluid bg-black text-center text-light py-2 mt-5">
    <!-- Copyright -->
    <div style="font-size: small;">© 2023 Copyright - Demo skapad av TS </div> 
</footer>
 
    
    <script src="./js/popper.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>

</body>
</html>